@import "tailwindcss";
@import "@fontsource-variable/inter/wght.css";
@import "lenis/dist/lenis.css";
@theme {
  --font-sans: "Inter", sans-serif;
  --medidaCuadradoHover: 5px;
  --medidaCuadrado: 2px;
}

body {
  font-family: "Inter", "sans-serif";
  background-color: #050505;
  scroll-behavior: smooth;
}
/* 1. Agregado el punto aquí */
.liSection::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  opacity: 0;
  width: var(--medidaCuadrado);
  height: var(--medidaCuadrado);
  background-color: white;
  transform: translate(-100%, 100%) rotate(0deg);
  transform-origin: 50% 50%;
  transition: all 0.3s ease-in-out;
}

.liSection:hover::before {
  opacity: 1;
  width: var(--medidaCuadradoHover);
  height: var(--medidaCuadradoHover);
  transform: translate(-100%, -50%) rotate(225deg);
}

.liSection::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  opacity: 0;
  background-color: white;
  width: var(--medidaCuadrado);
  height: var(--medidaCuadrado);

  /* 2, 3 y 4. Igualados los X para que suba recto, agregado rotate inicial y origin */
  transform: translate(-50%, 100%) rotate(0deg);
  transform-origin: 50% 50%;
  transition: all 0.3s ease-in-out;
}

.liSection:hover::after {
  opacity: 1;
  width: var(--medidaCuadradoHover);
  height: var(--medidaCuadradoHover);
  /* Mantenemos el X en -50% para que el movimiento sea solo vertical */
  transform: translate(-50%, -50%) rotate(225deg);
}

/* ===== SCROLLBAR PERSONALIZADO ===== */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: rgba(251, 191, 36, 0.2);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(251, 191, 36, 0.4);
}
